* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.navigation {
  font-size: 24px;
  background-color: #000;
  color: #fff;
  padding-inline: 1.875rem;
  padding-block: 1.1875rem;
}
.navigation__container {
  width: 90%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}
.navigation__logo {
  height: 32px;
  aspect-ratio: 200/51;
}
.navigation__menu-group {
  display: flex;
  align-items: center;
}
.navigation__menu-group--left {
  gap: 0.8125rem;
}
.navigation__menu-group__right {
  gap: 1rem;
}
@media (width < 56.25rem) {
  .navigation__menu-group__right {
    display: none;
  }
}
.navigation__page-title {
  margin-top: 0.1875rem;
  padding-top: 0.1875rem;
  padding-left: 0.8125rem;
  line-height: 1.4375rem;
  border-left: 0.125rem solid #fff;
}
.navigation__btn {
  padding-inline: 1.4375rem;
  padding-block: 0.4375rem;
  margin-right: 8px;
  line-height: 2.25rem;
  border-radius: 0.5rem;
}
.navigation__btn--outline {
  border: 0.0625rem solid #fff;
  background-color: #191a1b;
}
.navigation__btn--fill {
  background-color: #515fcb;
}

.hero {
  background-color: #dadbee;
  padding-inline: 1.875rem;
  padding-block: 5rem 7.1875rem;
}
.hero__container {
  width: 90%;
  margin-inline: auto;
}
.hero__text {
  font-size: 5rem;
  line-height: 7.5rem;
  text-align: center;
  width: 80%;
}
.hero__search-input {
  border-radius: 4px;
  color: #191a1b;
  margin-top: 1rem;
  padding: 1rem;
  border: 0.0625rem solid #000;
  background-color: #fff;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-inline: auto;
  display: block;
  width: 80%;
}

.feature {
  padding: 30px;
}
.feature__container {
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  row-gap: 2.25rem;
  width: 80%;
  margin-inline: auto;
  padding-left: 0;
  list-style: none;
  margin-block: 0;
  display: flex;
  flex-wrap: wrap;
}
.feature > * {
  flex-basis: 0%;
  flex-grow: 1;
  min-width: 400px;
}

.card {
  display: flex;
  gap: 1.875rem;
  padding-top: 48px;
}
.card__img {
  max-width: 5rem;
}